<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/ticket.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="topnav">
        <a class="active" href="/main">Home</a>

        <a href="{% url 'articles:about' %}">About</a>
        <a href="{% url 'articles:contact' %}">Contact Us</a>
        <a href="{% url 'articles:ticket_page' %}">Ticket Page</a>
        <nav>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </nav>
    </div>
    <div class="Wrapper">

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>