{% extends 'base_layout.html' %}



{% block content %}

<div class="about-section">
  <h1 class="txt-white">About This Page</h1>
  <p class="txt-white">Optimal Transport System is a web-app through which users can get their optimal solution while using transportations in Bangladesh. By using this app, user can find information about any transportation which will help them to get to their desired destination with reasonable rate.</p>
  <p class="txt-white">Most of the people living in Dhaka city knows a little about the transportations. Most of them gets confused while travelling across the city. People living outside Dhaka city also face the same problem. While travelling to a new place, most of the people is not aware about choosing the best transportations.</p>
</div>

<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/Glitch.jpg" alt="Glitch" style="width:100%;">
      <div class="container">
        <h2>Habib Ar Rafiur Fahim</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>fahad.com66.fk@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=fahad.com66.fk@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/RBR.jpg" alt="RBR" style="width:100%;">
      <div class="container">
        <h2>Rashik Buksh Rafsan</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>rashikbuksh@gmail.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=rashikbuksh@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/Sadia.png" alt="Sadia" style="width:100%;">
      <div class="container">
        <h2>Sadia Zamal</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=rashikbuksh@gmail.com" target="_blank"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}