{% extends 'base_layout.html' %}
{% block content %}
<head>
	<title>Feedback</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/contact_css.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="container-contact100">

		<div class="wrap-contact100">
			<form action="" method="POST" class="contact100-form validate-form">
				{% csrf_token %}
				<span class="contact100-form-title">
					Send Us A Message
				</span>

				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="text" name="message-name" placeholder="Full Name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
					<input class="input100" type="text" name="message-email" placeholder="E-mail">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input class="input100" type="text" name="message-phone" placeholder="Phone">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your message">
					<textarea class="input100" name="message-message" placeholder="Your Message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Submit
						</span>
					</button>
				</div>
				<div>
					<h2>Thanks, {{ message_name }} for getting in touch with us. </h2>
				</div>
			</form>
		</div>
	</div>
	
			<div class="box-container">


				<div class="contact">
				</br>
					<p style="font-size: 35px; font-weight: bold; text-align: center;" >Contact info</p>
					<p> <i class="contact"></i> Location: Dhaka </p>
					<p> <i class="contact"></i> Email: ots2021@gmail.com </p>
					<p> <i class="contact"></i> Phone: +123-456-7890 </p></br>
					<div class="mapouter">
						<div style="align-items: center;">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29202.978579394505!2d90.43704781553859!3d23.805355910513583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1629620573237!5m2!1sen!2sbd" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe><a href="https://putlocker-is.org/%22%3Eputlocker</a><br>
						<style>.mapouter{position:relative;text-align:right;height:600px;width:1200px;}</style>
						<a href="https://www.embedgooglemap.net/%22%3E></a>
						<style>.gmap_canvas {overflow:hidden;background:none!important;height:600px;width:1200px;}</style>
						</div>
					</div>
				</div>

			</div>
		



</body>
{% endblock %}
