
{% extends 'base_layout.html' %}


{% block content %}
<marquee scrollamount="20" height="20">Welcome to Optimal Transportation System.</marquee>
<br />
<br />
<br />
<div class="dropdowndiv" align="center">
    <h3>Select your desired Location &emsp;&emsp;&emsp;&emsp; Select your desired Destination</h3>
    <select class="dropdown">
  <option value="Khilgaon">Khilgaon</option>
  <option value="Gabtoli">Gabtoli</option>
  <option value="Technical">Technical</option>
  <option value="Ansar Camp">Ansar Camp</option>
  <option value="Mirpur-1">Mirpur-1</option>
  <option value="Sony Cinema Hall">Sony Cinema Hall</option>
  <option value="Mirpur-2">Mirpur-2</option>
  <option value="Mirpur-10">Mirpur-10</option>
  <option value="Mirpur-11">Mirpur-11</option>
  <option value="Purobi">Purobi</option>
  <option value="Calshi">Calshi</option>
  <option value="ECB Square">ECB Square</option>
  <option value="MES">MES</option>
  <option value="Sheura">Sheura</option>
  <option value="Kuril">Kuril</option>
  <option value="Boshundhara">Boshundhara</option>
  <option value="Norda">Norda</option>
  <option value="Notun Bazar">Notun Bazar</option>
  <option value="Badda">Badda</option>
  <option value="Rampura Bridge">Rampura Bridge</option>
  <option value="Banasree">Banasree</option>
  <option value="Demra">Demra</option>
  <option value="Uttara">Uttara</option>
  <option value="Airport">Airport</option>
    </select>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <select class="dropdown">
  <option value="Khilgaon">Khilgaon</option>
  <option value="Gabtoli">Gabtoli</option>
  <option value="Technical">Technical</option>
  <option value="Ansar Camp">Ansar Camp</option>
  <option value="Mirpur-1">Mirpur-1</option>
  <option value="Sony Cinema Hall">Sony Cinema Hall</option>
  <option value="Mirpur-2">Mirpur-2</option>
  <option value="Mirpur-10">Mirpur-10</option>
  <option value="Mirpur-11">Mirpur-11</option>
  <option value="Purobi">Purobi</option>
  <option value="Calshi">Calshi</option>
  <option value="ECB Square">ECB Square</option>
  <option value="MES">MES</option>
  <option value="Sheura">Sheura</option>
  <option value="Kuril">Kuril</option>
  <option value="Boshundhara">Boshundhara</option>
  <option value="Norda">Norda</option>
  <option value="Notun Bazar">Notun Bazar</option>
  <option value="Badda">Badda</option>
  <option value="Rampura Bridge">Rampura Bridge</option>
  <option value="Banasree">Banasree</option>
  <option value="Demra">Demra</option>
  <option value="Uttara">Uttara</option>
  <option value="Airport">Airport</option>
    </select>
    <br />
    <button type="submit">Search</button>

    </div>
<br>
<br>
<h1>Transportations</h1>

<button class="accordion"><h1>Buses</h1></button>
<div class="panel">
    <a href="{% url 'articles:bolaka' %}"><h2>Balaka</h2></a>
    <a href="{% url 'articles:Bus_Akash' %}"><h2>Akash</h2></a>
    <a href="{% url 'articles:Bus_Alif' %}"><h2>Alif</h2></a>
    <a href="{% url 'articles:Bus_Raida' %}"><h2>Raida</h2></a>
    <a href="{% url 'articles:Bus_VIP' %}"><h2>VIP</h2></a>
    <a href="{% url 'articles:Bus_BRTC' %}"><h2>BRTC</h2></a>
    <a href="{% url 'articles:Bus_Green_Dhaka' %}"><h2>Green Dhaka</h2></a>
    <a href="{% url 'articles:Bus_Anabil' %}"><h2>Anabil</h2></a>
    <a href="{% url 'articles:Bus_Skyline' %}"><h2>Skyline</h2></a>
    <a href="{% url 'articles:Bus_Supravat' %}"><h2>Supravat</h2></a>
</div>

<button class="accordion"><h1>Trains</h1></button>
<div class="panel">
    <a href="{% url 'articles:Train_Suborno_Express' %}"><h2>Suborno Express</h2></a>
    <a href="{% url 'articles:Train_Mahanagar_Godhuli' %}"><h2>Mahanagar Godhuli</h2></a>
    <a href="{% url 'articles:Train_Tista_Express' %}"><h2>Tista Express</h2></a>
    <a href="{% url 'articles:Train_Ekota_Express' %}"><h2>Ekota Express</h2></a>
    <a href="{% url 'articles:Train_Chitra_Express' %}"><h2>Chitra Express</h2></a>
</div>

<button class="accordion"><h1>Air Plane</h1></button>
<div class="panel">
    <a href="{% url 'articles:Air_Biman_Bangladesh' %}"><h2>Biman Bangladesh Airlines</h2></a>
    <a href="{% url 'articles:Air_US_Bangla' %}"><h2>US-Bangla Airlines</h2></a>
    <a href="{% url 'articles:Air_Novoair' %}"><h2>Novoair</h2></a>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
{% endblock %}