
{% extends 'base_layout.html' %}


{% block content %}
<marquee scrollamount="20" height="20">Welcome to Optimal Transportation System.</marquee>
<br />
<br />
<br />
<div class="dropdowndiv" align="center">
    <h3>Select your desired Location &emsp;&emsp;&emsp;&emsp; Select your desired Destination</h3>
    <select class="dropdown">
  <option value="actual value 1">Display Text 1</option>
  <option value="actual value 2">Display Text 2</option>
  <option value="actual value 3">Display Text 3</option>
    </select>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;
    <select class="dropdown">
  <option value="actual value 1">Display Text 1</option>
  <option value="actual value 2">Display Text 2</option>
  <option value="actual value 3">Display Text 3</option>
    </select>

    </div>

    <div class="articles">
        <h1>Buses: </h1>
        <br >
        {% for article in articles %}
        <div class="article">
            <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
            <p>{{ article.snippet }}</p>
        </div>
        <br >
        {% endfor %}

    </div>
{% endblock %}