
{% extends 'base_layout.html' %}


{% block content %}
<br>

    <form action="" method="POST" class="contact100-form validate-form">
				{% csrf_token %}

		<h1> Enter your information:  </h1> <br>
					<input class="input100" type="text" name="message-name" placeholder="Full Name"> <br> <br>

					<input class="input100" type="text" name="message-email" placeholder="E-mail"> <br> <br>

					<input class="input100" type="text" name="message-phone" placeholder="Phone"> <br> <br>
					<h4> Pickup place: </h4>
					<select class="dropdown" name="message-start">
  						<option value="Khilgaon">Khilgaon</option>
 						 <option value="Gabtoli">Gabtoli</option>
 						 <option value="Technical">Technical</option>
						 <option value="Ansar Camp">Ansar Camp</option>
  						<option value="Mirpur-1">Mirpur-1</option>
 						 <option value="Sony Cinema Hall">Sony Cinema Hall</option>
  						<option value="Mirpur-2">Mirpur-2</option>
  						<option value="Mirpur-10">Mirpur-10</option>
 						 <option value="Mirpur-11">Mirpur-11</option>
 						 <option value="Purobi">Purobi</option>
  						<option value="Kalshi">Kalshi</option>
  						<option value="ECB Square">ECB Square</option>
  						<option value="MES">MES</option>
  						<option value="Sheura">Sheura</option>
  						<option value="Kuril">Kuril</option>
  						<option value="Boshundhara">Boshundhara</option>
 						 <option value="Norda">Norda</option>
  						<option value="Notun Bazar">Notun Bazar</option>
  						<option value="Badda">Badda</option>
  						<option value="Rampura Bridge">Rampura Bridge</option>
  						<option value="Banasree">Banasree</option>
  						<option value="Demra">Demra</option>
  						<option value="Uttara">Uttara</option>
  						<option value="Airport">Airport</option>
    				</select> <br><br>
					<h4> Drop off place: </h4>
				<select class="dropdown" name="message-end">
  						<option value="Khilgaon">Khilgaon</option>
 						 <option value="Gabtoli">Gabtoli</option>
 						 <option value="Technical">Technical</option>
						 <option value="Ansar Camp">Ansar Camp</option>
  						<option value="Mirpur-1">Mirpur-1</option>
 						 <option value="Sony Cinema Hall">Sony Cinema Hall</option>
  						<option value="Mirpur-2">Mirpur-2</option>
  						<option value="Mirpur-10">Mirpur-10</option>
 						 <option value="Mirpur-11">Mirpur-11</option>
 						 <option value="Purobi">Purobi</option>
  						<option value="Kalshi">Kalshi</option>
  						<option value="ECB Square">ECB Square</option>
  						<option value="MES">MES</option>
  						<option value="Sheura">Sheura</option>
  						<option value="Kuril">Kuril</option>
  						<option value="Boshundhara">Boshundhara</option>
 						 <option value="Norda">Norda</option>
  						<option value="Notun Bazar">Notun Bazar</option>
  						<option value="Badda">Badda</option>
  						<option value="Rampura Bridge">Rampura Bridge</option>
  						<option value="Banasree">Banasree</option>
  						<option value="Demra">Demra</option>
  						<option value="Uttara">Uttara</option>
  						<option value="Airport">Airport</option>
    				</select> <br> <br>
				<h4> Date: </h4>
			<input type="date" name="message-date"> <br> <br>
				<h4> Bus: </h4>
			<select class="dropdown" name="message-bus">
  						<option value="Akash">Akash</option>
 						 <option value="Alif">Alif</option>
 						 <option value="Raida">Raida</option>
						 <option value="VIP">VIP</option>
  						<option value="BRTC">BRTC</option>
 						 <option value="Green Dhaka">Green Dhaka</option>
  						<option value="Anabil">Anabil</option>
  						<option value="Skyline">Skyline</option>
 						 <option value="Supravat">Supravat</option>
    				</select> <br> <br>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							<a>Submit</a>
							<br>
						</span>
					</button>
					<br> <br>
					{% if message_name %}
					<button class="contact100-form-btn"><a href="{% url 'articles:ticket' %}">Buy Ticket</a></button>
					{% endif %}
				</div>
			</form>
		<br>
		<h1>External sites: </h1>
		<br>
		<div>
			<button class="contact100-form-btn"><a href="https://www.buytickets.com.bd/">Buy Tickets BD</a></button>
			<button class="contact100-form-btn"><a href="https://www.shohoz.com/bus-tickets">Shohoz</a></button>
			<button class="contact100-form-btn"><a href="https://www.esheba.cnsbd.com/#/">Train ticket</a></button>
			<button class="contact100-form-btn"><a href="https://bdtickets.com/">BD tickets</a></button>
		</div>

{% endblock %}