
{% extends 'base_layout.html' %}


{% block content %}
<br>
    <form action="" method="POST" class="contact100-form validate-form">
				{% csrf_token %}
					<input class="input100" type="text" name="message-name" placeholder="Full Name">

					<input class="input100" type="text" name="message-email" placeholder="E-mail">

					<input class="input100" type="text" name="message-phone" placeholder="Phone">



				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Submit
						</span>
					</button>
				</div>
			</form>

{% endblock %}