<!DOCTYPE html>
<html lang="en">
<html>
<head>
     <title>

     </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/static/css2.css">

</head>
<body>
    <div id="login-box">
        <div class="left">
		<form method="POST" action="">
			{% csrf_token %}
          <p style="font-size: 30px;font-weight: 500; " >Sign up</p>
			{{form.username.label}}
          {{form.username}}
			{{form.password1.label}}
          {{form.password1}}
			{{form.password2.label}}
          {{form.password2}}

          <input type="submit" name="signup_submit" value="Sign up" />
			<div>
					<div>
						<p>Have an Account? <a href="../login/">Login</a></p>
					</div>
				</div>

		</form>
        </div>


        <div class="right">
			{% for field in form %}
			<div class="fieldWrapper">
				{{ field.errors }}
			</div>
		{% endfor %}
        </div>

      </div>

</body>
</html>